.estilo1 {
    height: 250px;
    width: 700px; 
    margin-left: auto;
    margin-right: auto;
    background: rgb(15, 91, 163);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    justify-self: center;
    text-align: center;
  }
  .estilo2{
    background-color: rgb(243, 243, 243);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-top: 10%;
    border-radius: 0.5%;
    text-align: center;
  }
  
  .enviar{
    font-size: 20px;
    background-color: #1417e08f;
    border: none;
    color: hsl(225, 44%, 96%);
    border-radius: 5px;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
  }
  .enviar:hover{
    background-color: rgba(44, 182, 236, 0.514);
  }
  .archivo{
    font-size: 20px;
    border: none;
    color: hsl(220, 43%, 96%);
    border-radius: 2px;
    padding: 8px 13px;
    text-decoration: none;
    cursor: pointer;
    
  }
  